.background4 {
    height: 100vh;
    background-image: url(KobenGigiMural.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* margin: 0;
    padding: 0; */
    position: fixed;

}
.spotSlider {
    /* border: 15px red solid; */
    background-color: rgb(114, 32, 114);
    position: fixed;
    /* margin: 50px; */
    margin-left: 100px;
    /* padding: 30px; */
    top: 610px;
    bottom: 300px;
    height: 195px;
    overflow: auto;
    width: 83.5%;
    display: flex;
    /* flex-direction: column; */
}

.spotSliderImg {
    /* border: 5px limegreen solid; */
    margin: 25px;
    /* top: 420px; */
    bottom: 100px;
    left: 8.5%;
    right: 8.5%;
    height: 150px;
    width: 250px;
    background-size: 100% 100%;
}

.spotSliderReview {
    border: 3px lightseagreen solid;
    position: fixed;
    margin: 10px;
    padding: 10px;
    top: 520px;
    bottom: 50px;
    height: 30px;
    width: 155px;
}


.homeButton {
    /* border: 3px rgb(185, 28, 159) solid; */
    text-decoration: none;
    color:white;
    position: fixed;
    margin: 10px;
    padding: 10px;
    top: 0px;
    left: 5px;
    height: 25px;
    width: 70px;
}

.myCreatedCourts {
    border: 5px #FDB927 solid;
    background-color: rgb(114, 32, 114);
    color: black;
    font: bold;
    font-size: 12pt;
    position: fixed;
    top: 200px;
    bottom: 300px;
    left: 50px;
    width: 200px;
    text-align: center;
    overflow: auto;

}

.createdCourtSpots{
    list-style-type: none;
}

.createdCourtEditBtn{
    /* border: 2px solid black; */
    text-decoration: none;
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    /* position: relative;
    left: 50px; */
}
.myBookings1 {
    border: 5px #FDB927 solid;
    background-color: rgb(114, 32, 114);
    color: black;
    font-size: 12pt;
    position: fixed;
    top: 200px;
    bottom: 300px;
    right: 50px;
    width: 200px;
    text-align: center;
    overflow: auto;
}