.homeBookingsButton {
    text-decoration: none;
    color: black;
    position: fixed;
    margin: 10px;
    padding: 10px;
    top: 0px;
    right: 5px;
    height: 25px;
    width: 70px;
}

.form{
    margin-left: 280px;
    position: relative;
}

.bookingFormInputButton{
    margin-left: 365px;
    position: relative;
    margin-top: 10px;
}

.courtCity {
    /* border: black solid; */
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* .bookingsImageBackground {
    border: 3px black solid;
    top: 100px;
    height: 100px;
    width: 100px;
    right: 10%;
    background-size: 100% 100%;
} */

.bookingsBackground {
    height: 300px;
    width: 600px;
    top: 200px;
    position: center;
    left: 50px;
    /* height: 75vh; */
    /* background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed; */
}

.bookingsBorder {
border: 3px black solid;
position: absolute;
top: 350px;
left: 575px;
}

.courtName {
     /* border: black solid; */
     top: 25px;
     bottom: 25px;
     left: 25px;
     right: 25px;
     text-align: center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.courtState {
    /* border: black solid; */
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.courtAddress {
    /* border: black solid; */
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.courtCountry {
    /* border: black solid; */
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bookingFormBox {
    position: fixed;
    top: 320px;
    bottom: 300px;
}

.bookingFormLabel{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 10px;
    /* left: 400px; */
}

.bookingFormInput {
    width: 100%;
    padding: 4px 8px;
    display: inline-block;
    box-sizing: border-box;
    /* left: 400px; */
}