.homeHeader {
    border: 5px rgb(4, 0, 255) solid;
    position: fixed;
    margin: 50px;
    padding: 5px;
    top: 1px;
    bottom: 75px;
    height: 75px;
    width: 1300px
}

.profilePic{
    border: 3px black solid;
    position: fixed;
    margin: 25px;
    padding: 20px;
    top: 38px;
    bottom: 25px;
    left: 50px;
    height: 25px;
    width: 12px;
}

.searchBar {
    border: 3px black solid;
    position: fixed;
    margin: 25px;
    padding: 20px;
    top: 38px;
    bottom: 25px;
    left: 100px;
    height: 25px;
    width: 12px;
}