.homeHeader {
    /* border: 5px rgb(4, 0, 255) solid; */
    position: fixed;
    margin: 50px;
    padding: 5px;
    top: 1px;
    bottom: 75px;
    height: 75px;
    width: 1300px
}

.profilePic{
    border: 3px black solid;
    position: fixed;
    margin: 25px;
    padding: 20px;
    top: 38px;
    bottom: 25px;
    left: 50px;
    height: 25px;
    width: 12px;
}

.searchBar {
    /* border: 3px rgb(11, 3, 83) solid; */
    position: fixed;
    /* margin: 25px; */
    /* padding: 10px; */
    top: 40px;
    bottom: 25px;
    /* left: 145px; */
    /* height: 25px; */
    width: 140px;
    display: block;
}

.myBookings {
    /* border: 3px white solid; */
    color: white;
    position: fixed;
    margin: 25px;
    padding: 10px;
    top: 50px;
    bottom: 25px;
    right: 75px;
    height: 25px;
    width: 95px;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    text-align: center;
}

.addSpot {
    border: 3px white solid;
    /* background-color: black; */
    color: white;
    position: fixed;
    margin: 25px;
    padding: 10px;
    top: 50px;
    bottom: 25px;
    right: 75px;
    height: 25px;
    width: 95px;
}

.createNewSpot {
    /* border: 3px rgb(185, 28, 159) solid; */
    border-radius: 25%;
    background-color: black;
    text-decoration: none;
    color: white;
    position: fixed;
    margin: 25px;
    padding: 10px;
    top: 50px;
    bottom: 25px;
    right: 215px;
    height: 25px;
    width: 115px;
    text-align: center;
}

.profileIcon {
    position: absolute;
    left: 100px;
    top: 65px;
}