.background {
    background-image: url(BeachBasketball.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.backgroundLayer2 {
    position: absolute;
    top: 25%;
    left: 8%;
    width: 100%;
    height: 100%;
    background-image: url(Kobe.gif);
    background-repeat: no-repeat;
    /* background-size: 25%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.backgroundLayer3 {
    background-image: url(kobenGigi.jpeg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 90% 90%;
    top: 35%;
    left: 70%;
    width: 20%;
    height: 50%;

}

h1 {
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: 50px;
    color: rgb(230, 230, 34);
}

.signUp {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border: purple solid 3px;
    width: fit-content;
}

button {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: transparent;
    border: transparent;
}

.splashHeader {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    top: 0;
    /* width: 100%; */
}

.demoBtn {
    width: fit-content;
}

.splashSignUpBtn {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.demoBtn:hover{
    cursor: pointer;
}