.signUp {
    position: relative;
    top: 75%;
    left: 85%;
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
}

.homeBttn {
    position: relative;
    top: 100%;
    left: 32%;
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;

}