.formCSS {
    height: 65vh;
    font-size: 25px;
    color: white;
    background-image: url(kbDunkContest97.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* .demoBtn{
    font-size:medium;
    margin: 0 auto;
    margin-top: 15px;
    padding:10px;
    border-radius: 30px;
    background-color:lightblue;
    border: 8px solid pink;
    color:rgb(196, 69, 90);
    width: 100px;
    font-weight:lighter;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    text-decoration: none;
} */