.homeAddFormButton{
    /* border: 3px rgb(185, 28, 159) solid; */
    text-decoration: none;
    color:white;
    position: fixed;
    margin: 25px;
    padding: 10px;
    top: 10px;
    right: 35px;
    height: 35px;
    width: 70px;
}

.addNewSpotForm {
    background-color: #FDB927;
    height: 400px;
    width: 225px;
    padding: 10px;;
    border:3px black  solid;
}

.addFormLabel {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 10px;
}

.addFormInput{
    width: 100%;
    padding: 4px 8px;
    /* margin: 8px; */
    display: inline-block;
    box-sizing: border-box;
}

.addFormButton {
    /* position: absolute;
    left: 9.5%;
    bottom: 13.5%; */
    margin-left: 50px;
    top: 25px;
    border: 3px black solid;
}

.addFormBackground {
    background-image: url("newKobeLogo.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingsBackground {
    background-size: 100% 100%;
    position: fixed;
    top: 25px;
    bottom: 0px;
    left: 280px;
}